{% block content %}
<head>
    <title>Emojis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .item {
      background-color: white;
      border-style: solid;
      border-width: thin;
      width:50%;
      padding: 10px;
      margin: auto;
    }
    .item:hover {
        background-color: lightgrey;
    }
    </style>
</head>
<div>
    <div  style="text-align:center">
        {% for name, image_url, uploaded_by, tags in emojis %}
            <div class="item">
                <ul style="list-style-type:none;">
            <li><img src="{{ image_url}}" alt="emoji"></li>
                <br>
                <li> <h3> name: <a href="{{ image_url}}" target="_blank"> {{ name }}</a></h3></li>
                <li><h3>uploaded by: {{ uploaded_by }}</h3></li>
                    <li><h3> tags: {{ tags }} </h3></li>
                <br>
                    </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
